<h1>LISIRD Tools</h1>
<p><a href="/lisird/resources/tools/idlLib/tss_reader__define.pro">TSS_Reader</a> - The tss_reader is an IDL class 
	to read data from <a href="#/about/latis">LaTiS</a>.</p>
<p><a href="/lisird/resources/tools/idlLib/plot_solar_code.zip">Plot_Solar_Code</a> - The files in the plot_solar_code directory 
	are IDL procedures to read and display the full mission solar irradiance data files (SME, UARS, TIMED, SORCE) from the LASP Interactive 
	Solar Irradiance Data Center (LISIRD).</p>
<p><a href="#/about/latis">LaTiS</a> - An API that allows software programs to access most data sets on LISIRD.</p>