<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="components/bootstrap-sass/bootstrap-2.3.2.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/LisirdDygraph.css">
        <!-- endbuild -->   
</head> 
  <body ng-app="lisirdApp"> 
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!--[if lt IE 9]>
      <script src="bower_components/es5-shim/es5-shim.js"></script>
      <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div id="wrapper" class="container">
    	<noscript><div id="noscript-padding"></div></noscript>
    	<div id="inner_wrapper">
			<div ng-controller="logoCtrl">
				<div ng-show="big" id="logo">
					<a href="#/">LISIRD - LASP Solar Irradiance Data Center</a>
	    		</div>
	    		<div ng-hide="big" id="logo_small">
					<a href="#/">LISIRD - LASP Solar Irradiance Data Center</a>
	    		</div>
    		</div>
    		<div id="content">
    			<div ng-controller="navCtrl" id="nav">
    				<ul id="nav">
    					<li ng-repeat="item in menu">
    						<a href="{{item.link}}" ng-mouseover="onMouseOver(item.name)">{{item.name}}</a>
    						<ul id="subMenu" ng-show="displayMenu(item.name) && item.content">
								<li ng-repeat="subitem in item.content">
									<a href="{{subitem.link}}">{{subitem.name}}</a>
								</li>
							</ul>
    					</li>
    				</ul>
    			</div>
    			<div id="main">
    				<div ng-view></div> 
    			</div>
    			<div id="insidefooter">
    				<a href="#/">LISIRD Home</a> | 
    				<a href="#/sitemap">Site Map</a> | 
    				<a href="#/about/contact">Contact Us</a> | 
    				<a href="#/about/lisird">About LISIRD</a> | 
    			</div>
    		</div>
    		<div id="footer">
    			<a target="_blank" href="http://lasp.colorado.edu">Laboratory for Atmospheric and Space Physics</a>
    			<br>
    			<a target="_blank" href="http://www.colorado.edu">© Regents of the University of Colorado 2012</a>
    		</div>
    	</div>   	
    </div>
    

    <script src="components/dygraphs/dygraph-combined.js"></script>
    <script src="components/angular/angular.js"></script>
    <!-- build:js scripts/modules.js -->
    <script src="components/angular-resource/angular-resource.js"></script>
    <script src="components/angular-route/angular-route.js"></script>
    <script src="components/angular-sanitize/angular-sanitize.js"></script>
    <script src="components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	
    <script src="components/Highcharts/js/adapters/standalone-framework.js"></script>
    <script src="components/Highcharts/js/highstock.js"></script>
    <script src="components/Highcharts/js/modules/exporting.js"></script>
    <script src="https://rawgithub.com/highslide-software/export-csv/master/export-csv.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/factories.js"></script>    
    <script src="scripts/services/dateService.js"></script>
    <script src="scripts/services/dataFactory.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/logoCtrl.js"></script>
    <script src="scripts/controllers/navBar.js"></script>
    <script src="scripts/controllers/missionCtrl.js"></script>
    <script src="scripts/controllers/tsiCtrl.js"></script>
    <script src="scripts/controllers/histtsiCtrl.js"></script>
    <script src="scripts/directives/dygraphs.js"></script>
    <script src="scripts/directives/highcharts.js"></script>
    <!-- endbuild -->
</body>
</html>
