<h1><abbr title="LASP Solar Irradiance Data Center">LISIRD</abbr> Data Sets</h1>
<div id="missions">
	<script>$.get('/lisird/scripts/missions.html', function(data) {$('#missions').append(data);});</script>
<p class="red">Currently, we provide data for several LASP missions:</p>
<p><a href="#/missions/sme/"> SME</a> - Solar Mesosphere Explorer</p>
<p><a href="#/missions/sorce">SORCE</a> - Solar Radiation and Climate Experiment</p>
<p><a href="#/missions/see"> TIMED/SEE</a> - Thermosphere Ionosphere Mesosphere Energetics and Dynamics</p>
<p><a href="#/missions/uars/"> UARS/SOLSTICE</a> - Upper Atmosphere Research Satellite</p><br>
<p class="red">Coming soon:</p>
<p><a href="#/missions/eve/">SDO</a> - Solar Dynamics Observatory</p>
<p><a href="#/missions/snoe/">SNOE</a> - Student Nitric Oxide Explorer</p><br>
<p class="center">For more information on other LASP missions, please visit the <a target="_blank" href="http://lasp.colorado.edu/home/about/mission-history/">
	LASP mission page</a></p></div>

<h2>Categories</h2>
<p><a href="/lisird/missiondatafiles.html">Complete Data Files by Mission</a><br>
	<a href="/lisird/composite_timeseries.html">Composite Data Sets</a><br>
	<a target="_blank" href="http://lasp.colorado.edu/pspt/">Solar Images</a><br>
	<a href="/lisird/models.html">Solar Models</a><br>
	<a href="/lisird/ssi">Solar Spectral Irradiance</a><br>
	<a href="/lisird/spaceweather.html">Space Weather</a><br>
	<a href="/lisird/tsi">Total Solar Irradiance</a></p><br>
	  
<div id="available">
	<script>$.get('/lisird/scripts/available.html', function(data) {$('#available').append(data);});</script>
<h2>Available Solar Irradiance Measurements</h2>
<div class="center_div">
	<div class="pad50r">
		<strong>Spectral Region</strong><br>
		Soft X-ray (XUV)<br>
		Extreme Ultraviolet (EUV)<br>
		Far Ultraviolet (FUV) <br>
		Middle Ultraviolet (MUV)<br>
		Near Ultraviolet (NUV)<br>
		Visible (VIS)<br>
		Near Infrared (NIR) <br>
		TSI<br>
		H I Lyman Alpha<br>
		Mg II core-to-wing<br>
	</div>
	<div class="pad50r">
		<strong>Wavelength (nm)</strong><br>
		0.1-30<br>
		30-115<br>
		115-200<br>
		200-300<br>
		300-400<br>
		400-750<br>
		750-2700<br>
		<br>
		121.6<br>
		<br>	
	</div>
	<div>
		<strong>Measurements From</strong><br>
		<a href="#/missions/snoe/">SNOE</a>, <a href="#/missions/sorce">SORCE</a>, <a href="#/missions/see">TIMED/SEE</a><br>
		<a href="#/missions/see">TIMED/SEE</a><br>
		<a href="#/missions/sme">SME</a>,  <a href="#/missions/sorce">SORCE</a>, <a href="#/missions/see">TIMED/SEE</a>,	<a href="#/missions/uars">UARS</a><br>
		<a href="#/missions/sme">SME</a>, <a href="#/missions/sorce">SORCE</a>, <a href="#/missions/uars">UARS</a><br>				
		<a href="#/missions/sorce">SORCE</a>, <a href="#/missions/uars">UARS</a><br>
		<a href="#/missions/sorce">SORCE</a><br>
		<a href="#/missions/sorce">SORCE</a><br>
		<a href="#/missions/sorce">SORCE</a><br>
		<br>
		<br>
	</div>
</div><br>
<p class="center">For detailed information regarding data sets currently available <a href="#/datasets">click here</a></p></div>