<h1>Publications</h1>
		
<h2>Science</h2>
<p>Chamberlin, P. C., T. N. Woods, and F. G. Eparvier, 
<a href="http://www.agu.org/pubs/crossref/2008/2007SW000372.shtml">Flare Irradiance Spectral Model (FISM): Flare component algorithms 
and results</a>, Space Weather, 6, S05001, doi:10.1029/2007SW000372, 2008.</p>
<p>Chamberlin, P. C., T. N. Woods, and F. G. Eparvier, <a href="http://www.agu.org/pubs/crossref/2007/2007SW000316.shtml">Flare Irradiance 
Spectral Model (FISM): Daily component algorithms and results</a>, Space Weather, 5, S07005, doi:10.1029/2007SW000316, 2007.</p>
<p>Peterson, W. K., T. N. Woods, P. C. Chamberlin, and P. G. Richards, <a href="http://adsabs.harvard.edu/abs/2008AdSpR..42..947P">
Photoelectron flux variations observed from the FAST satellite</a>, Adv. Space Res., doi:10.1016/j.asar.2007.08.038, 2007.</p>
<p>Woods, T. N., G. Kopp, and P. C. Chamberlin, <a href="http://www.agu.org/pubs/crossref/2006/2005JA011507.shtml">Contributions of the 
Solar Ultraviolet Irradiance to the Total Solar Irradiance During Large Flares</a>, J. Geophys. Res., 111, A10S14, doi: 
10.1029/2005JA011507, 2006.</p>
<p><a href="/lisird/resources/whi_ref_spectra/docs/WHI_solar_irradiance_results_ver2.pdf">WHI Working Group 2A: Quantifying the Quiet Sun / 
Irradiance for Solar Cycle Minimum</a></p>
<p>Tom Woods, Phil Chamberlin, Jerry Harder, Rachel Hock, Erik Richard, Marty Snow</p><br>

<h2>LASP / University of Colorado</h2>
<p>Woods, T. N., P. C. Chamberlin, J. W. Harder, R. Hock, M. Snow, F. G. Eparvier, J. Fontenla, W. E. McClintock, and E. C. Richard, 
<a href="http://www.agu.org/pubs/crossref/2009/2008GL036373.shtml">Solar Irradiance Reference Spectra (SIRS) for the 2008 Whole Heliosphere 
Interval (WHI)</a>, Geophys. Res. Lett., 2008.</p>
<p>Chamberlin, P. C., T. N. Woods, D. A. Crotser, F. G Eparvier,  R. A. Hock, and D. N. Woodraska, 
<a href="http://www.agu.org/pubs/crossref/2009/2008GL037145.shtml">New, Higher Resolution Solar Extreme Ultraviolet (EUV) Irradiance Results 
for Solar Cycle Minimum Conditions on April 14, 2008</a>, Geophys. Res. Lett., 2008.</p><br>

<h2>LISIRD</h2>
<p>D.M. Lindholm; A. Wilson, <a href="resources/general/presentations/AGU_2010/LaTiS_AGU2010.pdf">LASP Time Series Server (LaTiS): 
Overcoming Data Access Barriers via a Common Data Model in the Middle Tier</a>, AGU 2010 IN14A-06.</p>
<p>A. Ware DeWolfe; A. Wilson; D.M. Lindholm; C.K. Pankratz; M.A. Snow; T.N. Woods, 
<a href="resources/general/presentations/AGU_2010/lisird_dataproducts_poster.pdf">Solar Irradiance Data Products at the LASP Interactive 
Solar IRradiance Data Center (LISIRD)</a>, AGU 2010 GC21B-0881.</p>
<p>A. Wilson; D.M. Lindholm; A. Ware DeWolfe; T. Smith; C.K. Pankratz; M. Snow; T.N. Woods, 
<a href="resources/general/presentations/AGU_2010/lisird_latis_dataset_identification.pdf">Evolving LISIRD and the LASP Time Series Server 
to Support Data Identification, Citation, and Provenance</a>, AGU 2010 IN41B-1366.</p>
<p>Wilson, A., D.M. Lindholm, A. Ware DeWolfe, C. Lindholm, C.K. Pankratz, M. Snow, T.N. Woods,
<a href="resources/general/presentations/AGU_2009/lisird_informatics_poster.pdf">LISIRD 2: Applying Standards and Open Source Software in 
Exploring and Serving Scientific Data</a>, AGU 2009 IN41A-1122.</p>
<p>DeWolfe, A. W., A. Wilson, D.M. Lindholm, C.K. Pankratz, M. Snow, T.N. Woods,  
<a href="resources/general/presentations/AGU_2009/lisird_spaceheliophysics_poster.pdf">Accessing Solar Irradiance Data Products From the 
LASP Interactive Solar IRradiance Data Center (LISIRD)</a>, AGU 2009 Sh23B-1506.</p>
<p>Lindholm, D. M., R.S. Weigel, A. Wilson, A. Ware DeWolfe, <a href="resources/general/presentations/AGU_2009/TSDS_poster.pdf">The Time 
Series Data Server (TSDS) for Standards-Compliant, Convenient, and Efficient Access to Time Series Data</a>, AGU 2009 IN41A-1123.</p>