<h1>{{mission}}</h1>
<div class="uars">
	<!--
	<div class="bluetextbox">
		Maybe more goes here
	</div>
	-->
	<img ng-show="validMission" alt="Mission Photo" src="{{vivoLocation}}{{results[0].imageURL.value}}">
</div>
<div ng-show="validMission">
	<h2>Mission Description:</h2>
	<div ng-bind-html="results[0].desc.value"></div>
	<br><br>
	<div style="float:left;">
		<div ng-show="results[0].pi.value">
			<h3>Principal Investigator:	</h3>
			<a href="{{results[0].piURI.value}}">{{results[0].pi.value}}</a>
			<br>
		</div>
		<h3>Instruments:</h3>
		<ul ng-repeat="row in results"> 
			<a href="{{row.instrumentURI.value}}">{{row.instrument.value}}</a>
		</ul>
		<br><br>
		<h3>Datasets:</h3>
		<ul ng-repeat="row in datasets">{{row.dataset.value}}</ul>
	</div>
</div>
<div ng-hide="validMission">
	"{{mission}}" is not a mission we have information about.  Sorry!
</div>