<h1 class="title">LISIRD: LASP Interactive Solar Irradiance Data Center</h1>
<div class="pad">
	<p>In this data center, the Laboratory for Atmospheric and Space Physics (LASP) provides a variety of solar irradiance data sets, including daily measurements, reference spectra, composite time series, and model results. Available wavelengths range from 0.1 nm to 2.4 microns, although not all wavelengths are covered continuously.</p>
</div>
<div>
	{{data.missions}}
</div>
<div class="center">
	<img width="581" height="400" ng-src="images/lasp_uv_history_3d_2012.png">
</div>
<cite class="center">Click on any mission to display more information.</cite>